Game/intro.exe
Game/tkgpatch.exe
Game/junk/*
Editor/LevelEdit/*
Editor/Storage/XC-data/*
Editor/ActiveData/Graphics/*/*.info
Editor/**/_UAEFSDB.___
Game/**/_UAEFSDB.___
Game/game.stats
Game/game.prefs
